USE [master]
GO
/****** Object:  Database [CinemaBored]    Script Date: 5/12/2026 8:23:32 PM ******/
CREATE DATABASE [CinemaBored]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaBored', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaBored.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaBored_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaBored_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaBored].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaBored]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[MovieID] [int] NULL,
	[GheDaChon] [nvarchar](200) NULL,
	[TienGhe] [decimal](18, 0) NULL,
	[TienDoAn] [decimal](18, 0) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[NgayMua] [datetime] NULL,
	[SuatChieuID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[Duration] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Picture] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[SuatChieuID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[NgayChieu] [date] NOT NULL,
	[GioChieu] [time](0) NOT NULL,
	[PhongChieu] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_SuatChieu] PRIMARY KEY CLUSTERED 
(
	[SuatChieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 5/12/2026 8:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NULL,
	[SeatNumber] [int] NULL,
	[MovieID] [int] NULL,
	[SuatChieuID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoAn] ON 

INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (1, N'Bắp truyền thống', N'Bap', CAST(30000 AS Decimal(18, 0)))
INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (2, N'Bắp phô mai', N'Bap', CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (3, N'Bắp caramel', N'Bap', CAST(40000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua], [SuatChieuID]) VALUES (1, 1, 1, N'10, 11', CAST(150000 AS Decimal(18, 0)), CAST(60000 AS Decimal(18, 0)), CAST(210000 AS Decimal(18, 0)), N'Tiền mặt', CAST(N'2026-05-12T08:40:00.000' AS DateTime), 1)
INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua], [SuatChieuID]) VALUES (2, 2, 1, N'20, 21', CAST(150000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(150000 AS Decimal(18, 0)), N'Chuyển khoản', CAST(N'2026-05-12T18:10:00.000' AS DateTime), 3)
INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua], [SuatChieuID]) VALUES (3, 3, 2, N'5, 6, 7', CAST(225000 AS Decimal(18, 0)), CAST(70000 AS Decimal(18, 0)), CAST(295000 AS Decimal(18, 0)), N'Tiền mặt', CAST(N'2026-05-12T09:20:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (1, N'Nguyễn Văn An', N'0901111222', N'an@gmail.com')
INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (2, N'Trần Thị Bình', N'0912222334', N'binh@gmail.com')
INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (3, N'Lê Minh Cường', N'0923333444', N'cuong@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (1, N'Quỷ nhập tràng', N'Kinh dị', 121, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (2, N'Nụ hôn bạc tỷ', N'Lãng mạn', 140, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (3, N'Cười ma giải hạn', N'Hài hước, kinh dị', 128, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieu] ON 

INSERT [dbo].[SuatChieu] ([SuatChieuID], [MovieID], [NgayChieu], [GioChieu], [PhongChieu], [TrangThai]) VALUES (1, 1, CAST(N'2026-05-12' AS Date), CAST(N'09:00:00' AS Time), N'Phòng 1', N'Có sẵn')
INSERT [dbo].[SuatChieu] ([SuatChieuID], [MovieID], [NgayChieu], [GioChieu], [PhongChieu], [TrangThai]) VALUES (2, 1, CAST(N'2026-05-12' AS Date), CAST(N'13:30:00' AS Time), N'Phòng 1', N'Có sẵn')
INSERT [dbo].[SuatChieu] ([SuatChieuID], [MovieID], [NgayChieu], [GioChieu], [PhongChieu], [TrangThai]) VALUES (3, 1, CAST(N'2026-05-12' AS Date), CAST(N'19:00:00' AS Time), N'Phòng 2', N'Có sẵn')
SET IDENTITY_INSERT [dbo].[SuatChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (2, N'quanly', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (3, N'nhanvien1', N'123', N'NhanVien')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (1, 1, 10, 1, 1)
INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (2, 1, 11, 1, 1)
INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (3, 2, 20, 1, 3)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0CAFF9B73]    Script Date: 5/12/2026 8:23:32 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ve_SuatChieu_Seat]    Script Date: 5/12/2026 8:23:32 PM ******/
ALTER TABLE [dbo].[Ve] ADD  CONSTRAINT [UQ_Ve_SuatChieu_Seat] UNIQUE NONCLUSTERED 
(
	[SuatChieuID] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  CONSTRAINT [DF_SuatChieu_TrangThai]  DEFAULT (N'Có sẵn') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_SuatChieu] FOREIGN KEY([SuatChieuID])
REFERENCES [dbo].[SuatChieu] ([SuatChieuID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_SuatChieu]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Phim] ([MovieID])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phim]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu] FOREIGN KEY([SuatChieuID])
REFERENCES [dbo].[SuatChieu] ([SuatChieuID])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu]
GO
USE [master]
GO
