USE [master]
GO
/****** Object:  Database [CinemaBored]    Script Date: 5/10/2026 2:40:12 PM ******/
CREATE DATABASE [CinemaBored]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaBored', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaBored.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaBored_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaBored_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaBored].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaBored]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[MovieID] [int] NULL,
	[GheDaChon] [nvarchar](200) NULL,
	[TienGhe] [decimal](18, 0) NULL,
	[TienDoAn] [decimal](18, 0) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[NgayMua] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[Duration] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Picture] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 5/10/2026 2:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NULL,
	[SeatNumber] [int] NULL,
	[MovieID] [int] NULL,
	[SuatChieuID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoAn] ON 

INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (1, N'Truyền thống', N'Bap', CAST(30000 AS Decimal(18, 0)))
INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (2, N'Phô mai', N'Bap', CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[DoAn] ([FoodID], [FoodName], [Category], [Price]) VALUES (3, N'Carmel', N'Bap', CAST(40000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua]) VALUES (1, 1, 1, N'18, 19', CAST(150000 AS Decimal(18, 0)), CAST(65000 AS Decimal(18, 0)), CAST(215000 AS Decimal(18, 0)), N'Tiền mặt', CAST(N'2026-04-19T15:17:18.527' AS DateTime))
INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua]) VALUES (2, 2, 1, N'27, 34', CAST(150000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(150000 AS Decimal(18, 0)), N'Chuyển khoản', CAST(N'2026-04-19T15:28:44.927' AS DateTime))
INSERT [dbo].[HoaDon] ([BillID], [CustomerID], [MovieID], [GheDaChon], [TienGhe], [TienDoAn], [TongTien], [PhuongThucThanhToan], [NgayMua]) VALUES (3, 3, 1, N'30, 31', CAST(150000 AS Decimal(18, 0)), CAST(60000 AS Decimal(18, 0)), CAST(210000 AS Decimal(18, 0)), N'Chuyển khoản', CAST(N'2026-04-19T15:38:59.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (13, N'cuongcute', N'0979058531', N'@gmail.com')
INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (14, N'123', N'123', N'123')
INSERT [dbo].[KhachHang] ([CustomerID], [FullName], [Phone], [Email]) VALUES (15, N'pt', N'0846901715', N'pt')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (1, N'Quỷ nhập tràng', N'Kinh dị', 121, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (2, N'Nụ hôn bạc tỷ', N'Lãng mạn', 140, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
INSERT [dbo].[Phim] ([MovieID], [Title], [Genre], [Duration], [Status], [Capacity], [Price], [Picture]) VALUES (3, N'Cười ma giải hạn', N'Hài hước, kinh dị', 128, N'Có sẵn', 49, CAST(75000 AS Decimal(18, 0)), N'E:\LapTrinhWinForm\CinemaBoredManagement\PresentationLayer\Resources\anhbia.png')
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (1, N'admin', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (17, N'cuongcute', N'123', N'Nhân viên')
INSERT [dbo].[TaiKhoan] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (19, N'pt', N'123', N'NhanVien')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (29, 15, 24, 1, NULL)
INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (30, 15, 25, 1, NULL)
INSERT [dbo].[Ve] ([TicketID], [BillID], [SeatNumber], [MovieID], [SuatChieuID]) VALUES (31, 15, 22, 1, NULL)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0CAFF9B73]    Script Date: 5/10/2026 2:40:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
USE [master]
GO
